* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Source Sans 3", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #435766;
}

a {
	font-family: "Source Sans 3", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #435766;
	text-decoration: none;
}

.button {
	border-radius: 4px;
	background: #8dd83d;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.7s ease 0s;
}

.button:hover {
	background: #c0ff7c;
	box-shadow: 0 0 10px 0 #7ed81e;
}

.header {
	background: #373a3c;
	padding: 15px 0;
	border-bottom: 2px solid #777;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo img {
	height: 29px;
}

.header-menu {
	flex: 1 1 auto;
}

.header-menu-body {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}

.header-menu-item {
	margin: 0 0 0 37px;
}

.header-menu-link {
	transition: all 0.7s ease 0s;
}

.header-menu-link:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
}

.header-search {
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	display: block;
	padding: 10px 15px;
	margin: 0 0 0 25px;
	outline: none;
	cursor: pointer;
}

.menu-icon {
	display: none;
	height: 40px;
	width: 40px;
	flex: 0 0 40px;
	background: url(..//images/burger-menu.svg) no-repeat center / cover;
	border: none;
	margin: 0 0 0 40px;
}

.menu-icon.active {
	background: url(../images/cross.svg) no-repeat center / cover;
}

.home {
	min-height: calc(100vh - 67px);
	background: url(../images/starwars.png) no-repeat center / cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-title {
	color: #fff;
	font-size: 75px;
	font-weight: 400;
}

.home-subtitle {
	color: #fff;
	font-size: 24px;
	margin: 0 0 100px 0;
}

.home-button {
	min-width: 136px;
	padding: 8px;
}

.best {
	padding: 60px 0 160px 0;
	border-radius: 4px;
	background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
}
.best-logo {
	display: block;
	margin: 0 auto 16px auto;
	height: 64px;
}
.best-title {
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	margin: 0 0 40px 0;
}
.best-title-big {
	display: block;
	font-size: 48px;
}

.cards-row {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
}

.card {
	border-radius: 4px;
	border: 1px solid #8dd83d;
	background: #fff;
	overflow: hidden;
	flex: 0 0 320px;
	width: 320px;
}
.card-image {
	height: 180px;
}
.best-card-image-1 {
	background: url(../images/bestcard-01.jpg);
}

.best-card-image-2 {
	background: url(../images/bestcard-03.png);
}

.best-card-image-3 {
	background: url(../images/bestcard-02.png);
}
.card-content {
	padding: 20px;
	/*opacity: 70; */
}
.card-title {
	color: #435766;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 10px 0;
}
.card-text {
	color: #435766;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 35px;
}

.card-text-block {
	display: block;
	padding-bottom: 20px;
}

.card-button {
	padding: 20px;
}

.exclusive {
	padding: 70px 0 140px 0;
	background: url(../images/exclusive-bg.jpg) no-repeat center / cover;
}

.exclusive-title {
	color: #8dd83d;
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	margin: 0 0 75px 0;
}

.exclusive-row {
	margin: 0 0 90px 0;
}

.exclusive-card-image-1 {
	background: url(../images/exclusive-image-1.jpg);
}

.exclusive-card-image-2 {
	background: url(../images/exclusive-image-2.jpg);
}

.exclusive-card-image-3 {
	background: url(../images/exclusive-image-3.jpg);
}

.exclusive-card-image-4 {
	background: url(../images/exclusive-image-4.jpg);
}

.exclusive-button {
	max-width: 200px;
	padding: 16px;
	margin: 0 auto;
}

@media (max-width: 800px) {
	.menu-icon {
		display: block;
		position: relative;
		z-index: 10;
	}

	.header-logo {
		position: relative;
		z-index: 10;
	}

	.header-menu-body {
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 9;
		height: 100%;
		width: 100%;
		background: #7ed81e;
		display: block;
		transition: all 0.5s ease;
	}
	.header-menu-body.active {
		top: 0;
	}
}

.footer {
	padding: 58px 0 0 0;
	background: #373a3c;
}

.footer-content {
	display: flex;
}

.footer-block {
	flex: 0 0 33.333%;
	padding: 0 0 0 65px;
}

.footer-title {
	margin: 0 0 34px 0;
	font-size: 18px;
	line-height: 21px;
	color: #7ed81e;
}

.footer-link {
	display: block;
	margin: 0 0 28px 0;
	font-size: 14px;
	line-height: 16px;
	color: white;
	text-decoration: none;
}

.footer-social {
	display: inline-block;
	margin: 0 10px 0 0;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 40px 0;
	border-top: 1px solid white;
}

.footer-text {
	font-size: 16px;
	line-height: 19px;
	color: white;
}
